<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22700401021-1lot017k0rscf5afk4k77ojmem6kvfjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22700401021-1lot017k0rscf5afk4k77ojmem6kvfjj</string>
	<key>API_KEY</key>
	<string>AIzaSyDCZiTuUaxrzhe3iWtT9zXGomvtGLLKn8c</string>
	<key>GCM_SENDER_ID</key>
	<string>22700401021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takumi.oneshot</string>
	<key>PROJECT_ID</key>
	<string>oneshot-1107f</string>
	<key>STORAGE_BUCKET</key>
	<string>oneshot-1107f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22700401021:ios:eb85b7d432d9c33a3cec14</string>
</dict>
</plist>